<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Projeto das Sprints 2 e 3</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <header class="ctn-header">
    <div class="ctn-logo">
      <p>Avaliação das Sprints 2 e 3</p>
    </div>
  </header>

  <div class="ctn-info">
    <p>Informações extraídas de um site utilizando RSS</p>
  </div>

  <!-- Container dos cards -->
  <div class="cards-wrapper" id="noticias">
    
  </div>

  
  <script src="/script.js" defer></script>
</body>
</html>
